.title
    position: relative
    h3
        color: $blue
        font-style: italic
        font-size: 24px
        line-height: 1.2
        font-weight: 600
        text-transform: uppercase
        letter-spacing: 1px
        padding: 5px 0 0 30px
        background-image: url("../images/dist/favicon.svg")
        background-repeat: no-repeat
        background-position: -1% 60%
        background-size: 40px
    &_production
        text-align: center
        h3
            background-position: 38% 20%
    &_consultation
        h4
            font-size: 22px
            line-height: 1.2
            font-weight: 700
            text-transform: uppercase
            letter-spacing: 1px
    &_customers
        text-align: center
        margin-bottom: 15px
        h3
            background-position: 39% 20%
    &_equipment
        text-align: center
        h3
            background-position: 36% 20%
    &_footer
        h4
            color: $white
            text-transform: uppercase
            font-size: 17px
            font-weight: 700
            margin-bottom: 5px
    &_switcher
        text-align: center
        h3
            background-position: 38% 20%
        &-equipment
            text-align: center
            h3
                background-position: 37% 20%  
        &-delivery
            text-align: center
            h3
                background-position: 33% 20%  
    &_brand 
        text-align: center
        h3
            background-position: 24% 20%
    &_tea 
        text-align: center
        h3
            background-position: 37% 20%
    &_label 
        text-align: center
        h3
            background-position: 40% 20%
    &_package 
        text-align: center
        h3
            background-position: 29% 20%
    &_multi 
        text-align: center
        h3
            background-position: 22% 20%
    &_hybrid
        text-align: center
        h3
            background-position: 23% 20%
    &_laminate, &_sticky
        text-align: center
        h3
            background-position: 32% 20%
    &_make
        text-align: center
        h3
            background-position: 33% 20%
    &_dry
        text-align: center
        h3
            background-position: 39% 20%
    &_shrink
        text-align: center
        h3
            background-position: 31% 20%
    &_package-carton
        text-align: center
        h3
            background-position: 35% 20%
    &_cardboard
        text-align: center
        h3
            background-position: 26% 20%
    &_contact
        text-align: center
        h3
            background-position: 43% 20%
.text
    h5
        margin: 10px 0
        font-size: 18px
        font-weight: 700
    p
        margin: 8px 0
    &_production
        text-align: center
    &_consultation
        p
            font-size: 15px
            font-weight: 400
            line-height: 1.2
            margin: -6px 0      
    &_equipment
        text-align: center
    &_footer
        color: $white
        font-size: 13px


    