.brand
    padding: 30px 
    background-image: linear-gradient(to top, $grad1, $white)
    &_row
        padding: 10px 0
    ul, li 
        list-style-type: none
        padding: 0
        margin: 0
    li
        position: relative
        display: flex
        padding-left: 25px
        h5
            font-style: italic
            font-size: 18px
    .fa
        &::before
            position: absolute
            font-size: 20px
            left: 0
            top: 0px
            width: 20px
            height: 20px
            color: #3F57CC
#multi-text
    top: 56%
#tea-label
    &::before, &::after
        width: 100px
    &::before
        left: -100px
    &::after
        right: -100px
#tea-package
    font-size: 20px
    &::before
        left: -42px
    &::after
        right: -42px
#multi-film
    font-size: 20px
    &::before, &::after
        width: 100px
    &::before
        left: -54px
    &::after
        right: -54px  
#hybrid-materials
    font-size: 20px
    &::before, &::after
        width: 100px
    &::before
        left: -45px
    &::after
        right: -45px
#laminated-paper
    font-size: 20px
    &::before, &::after
        width: 80px
    &::before
        left: -80px
    &::after
        right: -80px
#pet-label
    &::before
        left: -42px
    &::after
        right: -42px
#dry-label, #package-carton
    &::before, &::after
        width: 130px
    &::before
        left: -130px
    &::after
        right: -130px  
#sticky-label, #shrink-label
    &::before, &::after
        width: 75px
    &::before
        left: -70px
    &::after
        right: -70px
#shrink-text
    margin-top: 1rem


        