// GENERAL PROJECT STYLES
// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $blue
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

a 
	color: #000
	text-decoration: none
	&:hover, &:focus
		color: #000

/* Let's get this party started */
::-webkit-scrollbar 
	width: 7px
	scroll-behavior: smooth

 
/* Track */
::-webkit-scrollbar-track 
	background: lighten($blue, 50%)
 
/* Handle */
::-webkit-scrollbar-thumb 
	background: $blue
	border-radius: 110px

::-webkit-scrollbar-thumb:window-inactive 
	background: lighten($blue, 10%) 






