
/*==========  Desktop First  ==========*/
+media-breakpoint-down(xl)
    .nav
        &_main
            margin-left: 60px
            li
                a
                    margin-right: 5px
                    font-size: 16px
        &_submenu
            width: 300px
            li
                a
                    font-size: 14px
    .promo
        &__header
            font-size: 38px
    .about
        &__block
            padding: 0 $gutter*4
    .title
        &_production
            h3
                background-position: 36% 20%
        &_customers, &_dry
            h3
                background-position: 37% 20%
        &_equipment
            h3
                background-position: 33% 20%
        &_switcher
            h3
                background-position: 34% 20%
            &-equipment
                h3
                    background-position: 31% 20%
            &-delivery
                h3
                    background-position: 26% 20%
        &_brand 
            h3
                background-position: 19% 20%
        &_tea 
            h3
                background-position: 35% 20%
        &_label 
            h3
                background-position: 38% 20%
        &_package 
            h3
                background-position: 25% 20%
        &_multi 
            h3
                background-position: 16% 20%
        &_hybrid 
            h3
                background-position: 17% 20%
        &_laminate 
            h3
                background-position: 29% 20%
        &_make 
            h3
                background-position: 30% 20%
        &_sticky  
            h3
                background-position: 28% 20%
        &_shrink
            h3
                background-position: 27% 20%
        &_package-carton
            h3
                background-position: 32% 20%
        &_cardboard
            h3
                background-position: 21% 20%
        &_contact
            h3
                background-position: 41% 20%
    .item
        &_heading
            h4
                font-size: 20px
    #make-label
        font-size: 18px
    .equipment
        &_name
            h4
                font-size: 20px
    .switcher
        &-wrap
            &.active
                padding: 0 80px
    .brand
        &_text
            p
                font-size: 14px
    #tea-package
        font-size: 16px
    #multi-film
        &::before
            left: -80px
        &::after
            right: -80px
    #hybrid-materials
        &::before
            left: -70px
        &::after
            right: -70px
    #laminated-paper
        &::before
            left: -40px
        &::after
            right: -40px
// <1200px
+media-breakpoint-down(lg)
    #up
        position: fixed
        z-index: 10
        padding: 0 20px
        top: 0
        left: 0
        right: 0
        height: auto
        background: $white
        box-shadow: 4px 5px 16px rgba(0, 0, 0, 0.45)
        overflow-y: auto
        max-height: 100%
    .header
        &__search-wrap
            .search
                .fa
                    right: 20px
            .search-field
                position: fixed
                z-index: 10
        &__logo
            width: 90px
    .nav_main, .button_main
        display: none
    .header__mobile-menu-button
        display: block
    .mobile-menu
        position: fixed
        z-index: 10
        left: 30%
    .button
        &_main
            width: 130px
            padding: 5px 2px 5px 25px
            a
                font-size: 10px
                i
                    font-size: 12px
                    left: 10px
                    top: 11px
        &_about
            margin-top: 5px
            width: 120px
            a
                font-size: 12px
        &_mobile
            top: -40px
        &_consultation
            padding: 5px 2px 5px 25px
            a
                font-size: 11px
                i
                    font-size: 13px
                    left: 15px
                    top: 12px          
    .promo
        &__text
            width: 300px
    .title
        h3
            font-size: 18px
            background-size: 33px
        &_production
            h3
                background-size: 33px
        &_customers
            h3
                background-size: 33px
        &_equipment
            h3
                background-size: 33px
        &_switcher
            h3
                background-size: 33px
                background-position: 39% 50%
            &-equipment
                h3
                    background-size: 33px
                    background-position: 37% 50%
            &-delivery
                h3
                    background-size: 33px
                    background-position: 34% 50% 
        &_brand
            h3
                background-size: 33px
                background-position: 18% 50% 
    .text
        h5
            font-size: 14px
        p
            font-size: 13px
    .item
        img
            opacity: 0.45
            transform: scale(1.1)
        &_inner
                top: 7%
                bottom: 7%
        &_heading
            h4
                font-size: 18px
        &_text
            opacity: 1
            transition-delay: .1s
            padding: 0 5px
            p
                font-size: 14px
    #brend-tea
        &::before
            left: -95px
        &::after
            right: -95px
    #tea-box, #flex-label
        &::before
            left: -44px
        &::after
            right: -44px
    #make-label
        &::before
            left: -20px
        &::after
            right: -20px
    #carton
        &::before
            left: -10px
        &::after
            right: -10px
    .equipment
        &_name
            h4
                font-size: 16px
                color: $white
        &__item
            img
                opacity: 0.45
                transform: scale(1.1)
    .switcher
        padding-top: 100px
        &-title
            display: block
            font-size: 17px
            margin-bottom: 15px
            padding-top: 20px
            margin-top: 0
        &-wrap
            position: static
            z-index: 1
            padding-top: 0
            opacity: 1
            visibility: visible
            overflow: hidden
            height: auto
            &.active
                padding: 0 
        &-item
            flex-direction: column
            align-items: center
    .visible-sm
        display: block!important
    .brand
        padding-top: 120px
        li
            h5
                font-size: 18px
        .fa
            &::before
                top: 0
        &_text
            p
                font-size: 13px
    .swiper
        &-container
            padding-top: 10px
            padding-bottom: 10px
        &-button-prev, &-button-next
            display: none
        &-pagination
            display: none
    #tea-envelope
        &::before
            left: -42px
        &::after
            right: -42px
    #tea-package
        &::before
            left: -29px
        &::after
            right: -29px
    #multi-film, #hybrid-materials, #milk-label, #laminated-paper
        font-size: 14px
    #multi-film
        &::before
            left: -85px
        &::after
            right: -85px
    #hybrid-materials
        &::before
            left: -75px
        &::after
            right: -75px
    #laminated-paper
        &::before
            left: -50px
        &::after
            right: -50px
    #cardboard
        font-size: 16px
        &::before
            left: -45px
        &::after
            right: -45px
    .contact
        padding-top: 120px
        &__address, &__telephone
            width: 192px
            font-size: 13px
        &__address
            i
                font-size: 26px
                top: 14px
        &__telephone
            margin: 10px 0
        &__phone
            i
                top: 3px
                font-size: 22px
        &__social
            li
                a
                    width: 40px
                    height: 40px
                    font-size: 22px

// <992px
+media-breakpoint-down(md)
    .container
        max-width: 100%
    .promo
        background-position: bottom left
    .about
        padding: 20px
        &__block
            padding: $gutter*2 0 
    .delivery
        padding: 20px
        &__block
            padding: $gutter*2 0
    .production
        padding: 0 20px
    .title
        h3
            background-position: -1% 20%
        &_production
            text-align: left
            h3
                background-position: -1% 20%
        &_customers
            text-align: left
            h3
                background-position: -1% 20%
        &_equipment
            text-align: left
            h3
                background-position: -1% 20%
        &_switcher
            text-align: left
            h3
                background-position: -1% 20%
            &-equipment
                text-align: left
                h3
                    background-position: -1% 20%
            &-delivery
                text-align: left
                h3
                    background-position: -1% 20%
        &_brand, &_tea, &_label, &_package, &_multi, &_hybrid, &_laminate, &_make, &_dry, &_sticky, &_shrink, &_package-carton, &_cardboard, &_contact
            text-align: left
            h3
                background-position: 0% 40%
                font-size: 15px
    .customers
        padding: 30px 60px
    .text
        &_production
            h5
                text-align: left
        &_equipment
            h5
                text-align: left
    .consultation
        &__info
            padding-left: 0px
            i
                display: none
        .container
            display: block
    .button
        &_consultation
            padding-left: 20px
            margin-top: 15px
            a
                font-size: 12px
                i
                    left: 14px
                    top: 10px
                    font-size: 16px
    .item
        &_inner
            top: 20%
            bottom: 20%
            border-width: 1px 
        &_heading
            transform: translateY(-125%)
            h4
                font-size: 16px
                &::before, &::after
                    display: none
    #make-label
        font-size: 16px
    .equipment
        padding: 0 20px
    .switcher-item-img
        width: auto
        height: auto
        &-offset
            width: auto
            height: auto
            margin: 0
    .brand
        &_text
            p
                font-size: 12px
        li
            h5
                font-size: 16px
        .fa
            &::before
                top: -2px
    #hybrid
        bottom: 7%
    #multi-film, #hybrid-materials, #milk-label, #laminated-paper
        font-size: 14px
    .contact
        &__info
            width: 220px
            position: relative
            padding: 10px
        &__block
            padding-top: 5px
            display: flex
            flex-direction: column
            align-items: center
// <768px
+media-breakpoint-down(sm)
// <576px 
+media-breakpoint-down(xs)
    


